<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
</ion-header>
<ion-content [fullscreen]="true">
  <ion-row class="logo-container">
    <img src="../../assets/img/adidas-logo.png" alt="logo da adidas">
  </ion-row>
  <ion-row class="shoe-container">
    <img src="../../assets/img/shoe5-removebg-preview.png" alt="">
  </ion-row>
  <ion-row class="info-container">
    <h1>Campus Collections <span>2024</span></h1>
    <p>A coleção Campus combina estilo vintage com tecnologia moderna para criar um calçado versátil e confortável para o dia a dia.</p>
  </ion-row>
  <ion-row class="button-container">
    <button routerLink="/home">GET STARTED</button>
  </ion-row>
</ion-content>
